/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/*------------Generic styles------------------------*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*------title and nav bar styles----------------------*/
.navbar {
    padding: 0;
    margin-left: 0!important;
    border: 0;
    background-color: #faba03!important;
}
.navbar-brand {
    color: black!important;
    padding-left: 2rem;
}

.navbar-toggler .navbar-toggler-icon {
    color: black!important;
}
.navbar-item {
    margin-right: 10px;
     color: black;
}
.navbar-item a {
    color: black;
    font-size: 20px;
    
}
.active {
    background-color: black;
    color: #fdf9fd!important;
}

.nav-link:hover {
    background-color: black;
    color: #fff!important;
}

@media (min-width: 280px) and (max-width: 414px) {
    .brandname {
        font-size: 22px;
        font-weight: 700;
    
    }
    .brandtext {
        font-size: 14px;
    
    }
}
@media (min-width: 1200px)  {
.navright {
    padding-left: 800px;
}
}
@media (min-width: 1024px)  {
.navright {
    padding-left: 300px;
}
}
@media (min-width: 768px)  {
.navright {
    padding-left: 50px;
}
}

/*-------------Call out styles--------------------------*/
.jumbotron-header {
    margin-top: 50px;
    font-size: 24px;
    
}
.jumbotron-btn {
   font-weight: 700;
}

.callout-container {
    background-image: url(../images/hero-image2.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 0   
}
.jumbotron {
    background: transparent;
    padding: 0;
    color: white;
    
}
.jumbotron-btn:hover {
    transform: scale(1.25); /* reference w3schools*/

}
@media (min-width: 768px) {
    .jumbotron-header {
        font-size: 36px;
    }
}

/*-------------WHY_BVI styles--------------------------*/
.features-container {
    background-color: #333541;
}
.features-header {
    text-transform: uppercase;
    padding-top: 10px;
    color: #fdf9fd;
}
.features-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fdf9fd;
    text-transform: uppercase;
    padding-top: 10px;  
}
.row-features {
    margin: 1rem;
}
.features-column {
    padding: 1rem;
}
.feature-header {
    font-size: 18px;
    font-weight: 500;
    
}
.feature-text {
    font-size: 16px;
    text-align: center;
    color: #212529;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 0 10px 0;
    background: #faba03;
    color: #212529;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    height: 100%;
}
.feature:hover {
    transform: scale(1.15); /* (code reference from CSS)*/
    box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
.cta-about{
    text-align: center;
}
.btn-about {
    /*margin-left: 3rem;*/
    margin-bottom: 2rem;
    background: #faba03;
}
.btn-about a {
    text-decoration: none;
    color: #212529;
    font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .row-feature {
        margin: 0.25rem;
    }
    .features-column {
    padding: 0.25rem;
}
}
/*@media (min-width: 768px) {
    .btn-about {
        margin-left: 15rem;
    }
}
@media (min-width: 1024px) {
    .btn-about {
        margin-left: 25rem;
    }
}
@media (min-width: 1200px) {
    .btn-about {
        margin-left: 35rem;
    }
}*/
/*-------------Our Process styles-------------------*/

.process-container {
    background-color: #e9ecef;
}
.process-header {
    text-align: center;
    padding: 2rem;
}
.process {
    padding: 1rem 3rem;
    
}
.process-steps {
    text-align: left;
    padding: 2rem;
    color: #212529;
}

/*.process-header {
    margin-left: 1rem;
    padding: 1rem;
}
.process {
    color: #212529;
    margin-left: 1rem;
}
.steps_desc {
     margin-top: 1rem;
}

/* code credit for image Slider from Hyde-Design */
.slide-images {
    width:500px;
    height:400px; 
    overflow:hidden;
    position:relative;
    
    
     }
.slide-images img{ 
    position:absolute; 
    animation:slide-images 20s infinite; 
    opacity:0; 
    width: 450px; 
    height: 350px;
    text-align: center;
    padding-left: 1rem;
}

@keyframes slide-images {25%{opacity:1;} 40%{opacity:0;}}
.slide-images img:nth-child(1){animation-delay:0s;}
.slide-images img:nth-child(2){animation-delay:5s;}
.slide-images img:nth-child(3){animation-delay:10s;}
.slide-images img:nth-child(4){animation-delay:15s;}

@media (min-width: 280px) and (max-width: 415px) {
    .slide-images {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    
     }
.slide-images img{ 
    width: 250px;
    height: 250px;
}
}

/*@media (min-width: 1025px) {
    .steps-text {
        margin-top: 3rem;
        font-size: 24px;
        font-weight: 500;
    }
    .steps-text {
        margin-top: 2rem;
        font-size: 22px;
        
    }
}*/

/*-------------Testimonials--------------------------*/
.testimonials {
    background-color: #faba03;
}
.testimonials-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;   
}
.testimonials-header h2 { 
    text-transform: uppercase;
    color: #424355; 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.testimony {
    text-align: center;
}
.testimony img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 0 10px;
    margin-left: 3.5rem;
}
.testimonies{
    padding: 2rem;      
}
.user-details {
    font-weight: 500;
}
/*.testimony1 {
    border-right: 1px solid black;
}
.testimony1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 0 10px;
    margin-left: 3.5rem;
}
.testimony2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 0 10px;
    margin-left: 3.5rem;
}

@media (min-width: 280px) and (max-width: 540px){
    .testimony1 {
    border-right: none;
}
}
@media (min-width: 768px){
    .testimonies {
    margin-left: 3rem;
}
.testimony2 {
    margin-left: 3rem;
}
}
@media (min-width: 1024px){
    .testimonies {
    margin-left: 3rem;
}
.testimony1 img {
    margin-left: 7rem;
}
.testimony2 {
    margin-left: 3rem;
}
.testimony2 img{
    margin-left: 7rem;
}
}*/

/*-------------Footer styles--------------------------*/

.footer-details {
    background-color: #343a40;
    color: white;   
}
.col-footer {
    margin-top: 1rem;
}
.footer-ul {
    list-style-type: none;
}
.social-links i {
    color: #faba03;
    font-size: 20px;
    margin-right: 0.5rem;
}
.social-links i:hover {
    transform: scale(1.15); 
    box-shadow: 0 0 0 4px rgb(234 165 11 / 83%); /*(code reference W3schools)*/

}

/*--------media query for Footer----------------*/
@media (min-width: 320px) and (max-width: 350px) {
    .footer-details {
        margin-top: 20px;
    }
}

/*--------Order Now Modal styles--------------------------*/
.modal-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.modal-text1 {
    font-size: 16px;
    font-style: italic;
    margin-left: 2rem;
}
.modal-text2 {
    font-size: 18px;
    margin-left: 2rem;
    
}
.modal-text2 emphasis {
    background-color: black;
    color: #fff;
    
}
.modal-label {
    margin-left: 1rem;  
}
.modal-input {
    margin-bottom: 1rem;  
}
.claim-button {
    text-align: center;
    margin-left: 2rem;
    text-transform: uppercase;
}

/*------------------about.html----------------------*/
/*------------ about us background-----------------*/
.about-container {
    background-image: url(../images/about-us.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;
    border: 0;  
}

.about-us {
    background: rgb(30 0 10 / 50%);
    color: #e9ecef;
    font-size: 24px;
    padding-top: 2rem;
}
.about-text {
    padding: 1rem;
    color: #e9ecef;
    text-align: left;
    font-size: 18px;   
}

/*-------------------Contact styles----------------*/
.contact-container {
    background-color: rgb(30 0 10 / 66%);
    color: #fff;
    font-size: 18px;
    /*background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;
    border: 0;*/
}
.contact-header {
    padding: 2rem;
}
.details-form {
    padding-bottom: 3rem;
}
.contact-details {
    
    /*background-color: rgb(30 0 10 / 77%);*/
    text-align: center;
    color: #e9ecef;
    
}
.contact-details p {
    font-size: 18px;
  
}
.contact-info a {
    color: #e9ecef;  
}

.opening-hours {
    margin-left: 1rem;
   
}
.opening-hours p {
    font-size: 18px;
    font-style: Bold;
    
}
.contact-form {
    color: #fff;
    /*background-color: rgb(30 0 10 / 50%);*/
    padding: 1rem;
    text-align: center;  
}
.contact-form h3 {
    padding: 1rem;  
}
.contact-input {
    text-align: center;
    font-size: 16px;
    font-style: Bold;
    width: 250px;
    margin-bottom: 1rem;
    background-color: #f6f1ea;
    color: #343a40;
    
}
.contact-textarea {
    text-align: center;
    font-size: 14px;
    font-style: Bold;
    width: 250px;
    height:100px;
    padding: 1rem;
    background-color: #f6f1ea;
    color: #343a40;
}
.contact-button {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 2rem;
    background-color: #f6f1ea;
    color: #343a40;
    transition: transform .2s;
}
.contact-button:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgb(234 165 11 / 83%);
}
input[type="text"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
input[type="email"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
textarea:hover {
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);;
}
/*-------media queries for about------*/

/*@media (min-width: 280px) and (max-width: 320px) {
    .about-container{
        font-size: 12px;
    }
}
@media (min-width: 320px) {
    .about-container {
        height: 679px;
        
    }
}
@media (min-width: 360px) and (max-width: 376px) {
    .about-container {
        height: 793px;
    }
}
@media (min-width: 411px) {
    .about-container {
        height: 710px;
    }
}
@media (min-width: 414px) {
    .about-container {
        height: 689px;
    }
}
@media (min-width: 540px) {
    .about-container {
        height: 543px;
    }
}
@media (min-width: 768px) {
    .about-container {
        height: 618px;
    }
    .about-text {
       font-size: 18px;
       
    }
    .contact-container {
        height: 433px;
    }
    .contact-input {
        width: 400px;
    }
    .contact-textarea {
        width: 400px;
    }

}
@media (min-width: 1024px) {
    .about-text {
       font-size: 18px;
       margin-left: 2rem;
       margin-right: 2rem;
    }
    .contact-details {
    padding-top: 3rem;
    
}
}*/
/*-----------------menu.html-----------------*/
.menu-header h2 {
    padding: 2rem;
}
.menu-items h3 {
    padding: 2rem;
}
.menu-images img {
    padding: 2rem;
}
/*.menu {
    padding-left: 1rem;
    padding-right: 1rem;
}
.menu-header h2{
    padding: 1rem;
    text-transform: uppercase;
    margin-left: 2rem;
}
.menu-text {
    font-size: 18px;
    font-weight: 300;
     padding: 1rem;
     padding-bottom: 1rem;
     margin-left: 1rem;
}
.menu-items h3{
    padding: 1rem;
    margin-left: 1rem;
    font-size: 22px;
    font-weight: 500;
    text-align: center;   
}
.menu-images img {
    width: 200px;
    height: 200px;
    padding: 1rem;
    margin-left: 2rem;
}
@media (max-width: 280px) {
  .menu-header h2 {
      margin-left: -1rem;
  } 
}
@media (max-width: 360px) {
  .menu-header h2 {
      margin-left: 4rem;
  } 
}
@media (min-width: 360px) and (max-width: 414px) {
  .menu-images {
      margin-left: 2rem;
  }  
}
@media (min-width: 520px) and (max-width: 760px) {
  .menu-header h2 {
      margin-left: 2rem;
  } 
  .menu-items h3 {
      margin-left: 2rem;
  } 
  .menu-images img {
      margin-left: 2rem;
  }  
  
}
@media (min-width: 1024px) {
  .menu-header h2 {
      margin-left: 40rem;
  } 
  .menu-text {
      margin-left: 10%;
      margin-right: 10%;
  }
}*/




