/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/*----------------CSS variables-------------------*/
:root {
  --yellow: #faba03;
  --white: #fdf9fd;
  --black: #333541;
}

/*------------Generic styles------------------------*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-size: 20px;  
}
/*------title and nav bar styles----------------------*/
.navbar {
    align-items: unset;
}
.bg-navbar {
   background-color: var(--yellow)!important;
   color: var(--black)!important;
}
.navbar-brand {
    padding-left: 2rem;
}
.navbar-item {
    margin-right: 15px;  
      
}
.navbar-item a {
    font-size: 20px;  
}
.active,.nav-link:hover  {
    background-color: var(--black);
    color: var(--white)!important;
}
.toggler-btn {
    margin-bottom: 3px;
}


/*-----------media queries for Nav bar-------*/
@media (min-width: 280px) and (max-width: 768px) {
    .navbar-item {
        margin-bottom: 3px;
    }
}
@media (min-width: 280px) and (max-width: 415px) {
    .nav-link {
       padding-left: 10px!important;
    }
}
@media (min-width: 280px) {
    .brandname {
        font-size: 18px;
        font-weight: 700;
    }
    .brandtext {
        font-size: 12px;   
        font-weight: 300;
    }
    .toggler-nav {
        margin-left: -10px;
    }
}
@media (min-width: 320px) {
    .toggler-nav,.toggler-btn {
    margin-left: 10px;
}
}
@media (min-width: 360px){
    .toggler-nav,.toggler-btn {
    margin-left: 0;
}
.brandname {
        font-size: 18px;
        font-weight: 700;
    }
    .brandtext {
        font-size: 16px;  
        font-weight: 500; 
    }
    
}
@media (min-width: 375px) {
    .toggler-nav,.toggler-btn {
    margin-left: 1rem;
}
}
@media (min-width: 280px) and (max-width: 415px) {
    .navbar-brand {
        padding-left: 0.5rem;
    }
    .navright {
        margin-left: 0.5rem;
    }
    .navbar-item {
        margin: 1px;
    }
    .navbar-item a {
        font-size: 14px;
         margin: 1px 0;
}
    .toggler-nav {
        width: 60px;
        height: auto;
    }
    .nav-item {
        font-size: 14px;
    }
    .toggler-btn {
    margin-top: 7px;
    }
    .jumbotron-btn {
        font-size: 14px!important;
        font-weight: 300;
    }
    /*.btn {
        Padding: 0 2px;
    }*/
    
    
}
@media (min-width: 375px) and (max-width: 414px) {
    .toggler-btn, .toggler-nav {
        margin-left: 0;
    }
     .brandname {
        font-size: 20px;
        font-weight: 700;
    }
    .brandtext {
        font-size: 18px;  
        font-weight: 500; 
    }
}
@media (min-width: 411px) and (max-width: 415px) {
    .toggler-btn, .toggler-nav {
        margin-left: 20px;
    }
}
@media(min-width: 540px) and (max-width: 768px) {
    .btn-order {
        margin-left: -25px;
    }
    .nav-link {
        padding: 2px 7px 3px!important;
    }
.toggler-nav {
        width: 90px;
        height: auto;
    }
.toggler-btn,.toggler-nav {
        margin-left: 70px;
    }

.toggler-btn {
    margin-top: 10px;
}
}
@media (min-width: 768px) {
.toggler-nav {
    margin-left: 120px;
    
}
.toggler-btn {
        margin-left: 120px;
    }

.brandname {
        font-size: 32px;
        font-weight: 700;
    }
    .brandtext {
        font-size: 24px; 
        font-weight: 500;  
    }
    .toggler-btn {
    margin-top: 20px;
    }
    
}
@media (min-width: 1024px) {
    .navbar-collapse {
    margin-top: 20px;
    margin-left:-10px;
}
.navright {
    margin-left: -1rem;
}  
 .brandname {
        font-size: 32px;
        font-weight: 700;
    }
    .brandtext {
        font-size: 24px; 
        font-weight: 500;  
    }
    
}

/*-------------Call out styles--------------------------*/
.jumbotron-header {
    margin-top: 50px;
    font-size: 24px;
    
}
.jumbotron-btn {
   font-weight: 500;
   font-size: 22px;
}

.callout-container {
    background-image: url(../images/home/hero-image2.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 0   
}
.jumbotron {
    background: transparent;
    padding: 0;
    color: var(--white);
    
}
.jumbotron-btn:hover {
    transform: scale(1.25); /* reference w3schools*/
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}
/*-------------media queries for Call out styles--------------------------*/
@media (min-width: 768px) {
    .jumbotron-header {
        font-size: 36px;
    }
}

/*-------------WHY_BVI styles--------------------------*/
.features-container {
    background-color: var(--black);
}
.features-header {
    text-transform: uppercase;
    padding-top: 10px;
    color: var(--white);
}
.features-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    padding-top: 10px;  
}
.row-features {
    margin: 1rem;
}
.features-column {
    padding: 1rem;
    
}
.feature-header {
    font-size: 18px;
    font-weight: 500;  
}
.feature-text {
    font-size: 18px;
    text-align: center;
    color: var(--black);
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 0 10px 0;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    height: 100%;
}
.feature:hover {
    transform: scale(1.05); /* (code reference from CSS)*/
    box-shadow: 0 0 0 2px rgb(234 165 11 / 83%);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.cta-about{
    text-align: center;
    margin-top: 1rem;
}
.cta-about {
    font-size: 30px;
}
.btn-about {
    margin-bottom: 2rem;
    background: var(--yellow);
}
.btn-about {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}
.btn-about:hover {
    transform: scale(1.05); /* (code reference from CSS)*/
    box-shadow: 0 0 0 2px rgb(234 165 11 / 83%);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
 
/*---------media queries for ""Why BVI" ----------*/
@media (max-width: 280px) {
    .row-features, .features-column {
        margin: 0.25rem;
        padding: 0;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .row-features {
        margin: 0.25rem;
    }
    .features-column {
    padding: 0.25rem;
}
    .feature-header,.feature-text,.btn-about {
        font-size: 30px;
    }
}
@media (min-width: 1400px) {
    .feature-text,.btn-about {
        font-size: 24px;
    }
}


/*-------------Our Process styles-------------------*/
.process-container {
    background-color: #e9ecef;
}
.process-header {
    text-align: center;
    padding: 2rem;
}
.process {
    padding: 0 3rem;
    
}
.process-steps {
    text-align: left;
    padding: 2rem;
    color: var(--black);
}

/* code credit for image Slider from Hyde-Design */
.slide-images {
    width:500px;
    height:400px; 
    overflow:hidden;
    position:relative;
}
.slide-images img{ 
    position:absolute; 
    animation:slide-images 20s infinite; 
    opacity:0; 
    width: 450px; 
    height: 350px;
    text-align: center;
    padding-left: 1rem;
}

@keyframes slide-images {25%{opacity:1;} 40%{opacity:0;}}
.slide-images img:nth-child(1){animation-delay:0s;}
.slide-images img:nth-child(2){animation-delay:5s;}
.slide-images img:nth-child(3){animation-delay:10s;}
.slide-images img:nth-child(4){animation-delay:15s;}

/*-----------media queries for "Our Process"------------*/
@media (min-width: 280px) and (max-width: 415px) {
    .slide-images {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    
     }
.slide-images img{ 
    width: 250px;
    height: 250px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.steps-text {
    font-size: 30px;
}
.steps_desc {
    font-size: 30px;
    padding-left: 20px;
    
}
.slide-images { 
    width: 400px;
    height: 400px;
    padding-left: 4rem;
}
}
@media (min-width: 1024px){
    .slide-images { 
    padding-left: 8rem;
}
}

/*-------------Testimonials--------------------------*/
.testimonials {
    background-color: var(--yellow);
}
.testimonials-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;   
}
.testimonials-header h2 { 
    text-transform: uppercase;
    color: var(--black); 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.testimony {
    text-align: center;
}
.testimony img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 3.5rem;
}
.testimonies{
    padding: 2rem;      
}
.user-details {
    font-weight: 500;
}
/*-----media query for Testimonials--------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .testimony p {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .user-details {
    font-size: 30px;
}
}
/*-------------Footer styles--------------------------*/

.footer-details {
    background-color: var(--black);
    color: var(--white);   
}
.col-footer {
    margin-top: 1rem;
}

.footer-ul {
    list-style-type: none;
    font-size: 20px;  
    text-align: center;
}
.footer-ul i{
    font-size: 16px;  
}
.footer-copyright .footer-social {
    Padding-top: 2rem;
    padding-bottom: 2rem;
}
.col-footer h5 {
    font-size: 28px;
}
.social-links i {
    color: var(--yellow);
    font-size: 24px;
    margin-right: 1rem;
}
.social-links i:hover {
    transform: scale(1.15); 
    background-color: gray;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

/*--------media query for Footer----------------*/
@media (max-width: 280px) {
    .footer-ul {
        font-size: 16px;
        padding: 0;
        margin-left: 30px;
    }
    .footer-ul i {
        font-size: 14px;
    }
    .social-links i {
        font-size: 18px;
}
}
@media (min-width: 320px) {
    .footer-ul {
        margin-left: 15px;
    }
}
@media (min-width: 360px) {
    .footer-ul {
        margin-left: 25px;
    }
}
@media (min-width: 375px) {
    .footer-ul {
        margin-left:40px;
    }
}
@media (min-width: 411px) {
    .footer-ul {
        margin-left: 60px;
    }
}
@media (min-width: 414px) {
    .footer-ul {
        margin-left: 75px;
    }
}
@media (min-width: 540px) {
    .footer-ul {
        margin-left: 120px;
    }
}
@media (min-width: 360px) and (max-width: 540px) {
    .footer-ul {
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .col-footer h5 {
        font-size: 34px;
    }
    .col-footer h6 {
        font-size: 30px;
    }
    .footer-ul {
        margin-left: 190px;
        font-size: 30px;
    }
    .footer-ul i {
        font-size: 24px;
    }
    .social-links i {
        font-size: 36px;
    }
}
@media (min-width: 1024px) {
    .footer-ul {
        margin-left: 0;
    }
}
@media (min-width: 1400px) {
    .footer-ul {
        margin-left: 100px;
    }
}


/*--------Order Now Modal styles--------------------------*/
.modal-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.modal-text1 {
    font-size: 16px;
    font-style: italic;
    margin-left: 2rem;
}
.modal-text2 {
    font-size: 18px;
    margin-left: 2rem;
    
}
.modal-text2 span {
    background-color: var(--black);
    color: var(--white);
    
}
.modal-label {
    margin-left: 1rem;  
}
.modal-input {
    margin-bottom: 1rem;  
}
.claim-button {
    text-align: center;
    margin-left: 2rem;
    text-transform: uppercase;
}

/*------------------styles for about.html----------------------*/

.about-container {
    background-image: url(../images/about/about-us.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;
    border: 0;  
}

.about-us {
    background: rgb(30 0 10 / 50%);
    color: #e9ecef;
    padding: 2rem;
    margin: 0 1rem; 
}
.about-header h2 {
    font-size: 24px;
    font-weight: 700;
}
.about-text p {
    padding: 1rem;
    color: #e9ecef;
    text-align: left;
    font-size: 20px;   
    margin: 0 1rem;
}

/*------------------media queries for about.html----------------------*/

@media (min-width: 320px) and (max-width: 411px) {
    .about-text {
        font-size: 22px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .about-text {
        padding: 2rem;
        font-size: 34px;
    }
}
@media (min-width: 1400px) {
    .about-text {
        padding-bottom: 1rem;
        font-size: 24px;
    }
    
}

/*-------------------Contact styles----------------*/
.contact-container {
    background-color: rgb(30 0 10 / 66%);
    color: var(--white);   
}
.contact_us {
    padding: 2rem;
    text-align: center;  
}
.contact-header h2 {
    font-size: 24px;
    margin-top: 1rem;
    font-weight: 700; 
}
.contact-header h3 {
    font-size: 24px;
    font-weight: 500;   
}
.contact-details {
    text-align: center;
    color: #e9ecef;
    padding-bottom: 0;  
    padding-top: 10px; 
}
.contact-info {
    color: #e9ecef; 
    font-size: 22px;  
    text-align: left;
}
.contact-info a{
    color: #e9ecef; 
    font-size: 22px;  
}
.opening-hours {
    margin-left: 1rem;
}
.opening-hours p {
    font-size: 20px;
    font-weight: Bold;   
}
.contact-form {
    color: var(--white);
   text-align: center;  
}
.contact-input {
    text-align: center;
    font-size: 20px;
    font-weight: Bold;
    width: 250px;
    margin-bottom: 1rem;
    background-color: #f6f1ea;
    color: var(--black);  
}
.contact-textarea {
    text-align: center;
    font-size: 20px;
    font-weight: Bold;
    width: 250px;
    height:100px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f6f1ea;
    color: var(--black);
}
.contact-button {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2rem;
    background-color: #f6f1ea;
    color: var(--black);
    margin-bottom: 2rem;
    transition: transform .2s;
}
.contact-button:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgb(234 165 11 / 83%);
  transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
input[type="text"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
input[type="email"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
textarea:hover {
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
/*-------media queries for contact------*/
@media(max-width:280px) {
    .contact-info {
        font-size: 18px;  
        padding-left: 30px;
        
    }
    .opening-hours p,.contact-info a {
        font-size: 18px;
          
    }
}
@media(min-width: 320px) {
    .contact-info {
        font-size: 18px; 
        padding-left: 50px; 
    }
    .contact-info a,.opening-hours p {
        font-size: 18px;  
    }
}
@media(min-width: 360px) and (max-width: 375px) {
    .contact-info {
        padding-left: 65px; 
        font-size: 18px; 
    }
    .contact-info a,.opening-hours p{
        font-size: 18px;  
    }
     
}
@media(min-width: 411px)  {
    .contact-info {
        padding-left: 80px; 
    }
    .contact-info a,.opening-hours p {
        font-size: 18px;  
    }
}
@media(min-width: 414px)  {
    .contact-info {
        padding-left: 100px; 
    }
    .contact-info,.contact-info a,.opening-hours p{
        font-size: 20px;  
    }
}
@media(min-width: 280px) and (max-width: 540px){
.contact-details {
    padding-top: 0; 
}
}
@media(min-width: 540px){
    .contact-input,.contact-textarea {
        width: 400px; 
        }
    .contact-info {
        padding-left: 140px;
    }
}

@media(min-width: 768px){
    .contact-header h2 {
        font-size: 32px;
    
    }
    .contact-header h3 {
        font-size: 28px;
        font-weight: Bold; 
    }
    .contact-info {
        font-size: 26px;  
        padding-left: 40px; 
    }
    .opening-hours p {
        font-size: 28px;
          
    }
    .contact-info a{
        font-size: 26px;  
    }
    .contact-input,.contact-textarea {
        width: 300px; 
        font-size: 26px;
    }    
}
@media(min-width: 1024px) {
    .contact-info {
        padding-left: 95px; 
    }
}
@media(min-width: 1400px) {
.contact-info {
        padding-left: 250px;
        font-size: 24px;
    }
    .opening-hours p {
        font-size: 24px;
          
    }
.contact-input,.contact-textarea {
        width: 500px; 
        }
}


/*-----------------menu.html-----------------*/
.menu-header h2 {
    padding: 2rem;
}
.menu-items h3 {
    padding: 2rem;
}
.menu-text,.menu-images {
    margin-left: 10px;
    margin-right: 10px;
}
.menu-images img{
    padding: 2rem;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}
/*----------code credit from makitweb.com to-show-text on-image-hover)------*/
.menuimg-txt {
 position: absolute;
 bottom: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 font-size: 14px;
 text-transform: uppercase;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}
.menu-images img:hover{
 cursor: pointer;
}

.menu-images:hover div{
     
 width: 125px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}

.rice {
    padding-bottom: 2rem;
}
/*--------------media queries for menu.html-----------------*/
@media (min-width:320px) {
    .menu-images {
        padding-left: 10px;
    }
}
@media (min-width:360px) {
    .menu-images {
        padding-left: 30px;
    }
}
@media (min-width: 375px) {
    .menu-images {
        padding-left: 40px;
}
}
@media (min-width: 411px) {
    .menu-images {
    padding-left: 60px;
}
}
@media (min-width: 540px) {
    .menu-images {
    padding-left: 60px;
}
.menu-images img {
    
    width: 300px;
    height: 300px;
}

}
@media (min-width: 768px) and (max-width: 1024px) {
    .menu-text,.menu-items h3 {
        font-size: 34px;
    }
    .menu-header h2 {
        font-size: 36px;
    }
    .menu-items h2,.menu-header h3 {
        font-weight: 700;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .menu-images {
        padding-left: 90px;
    }
}