/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/*------------Generic styles------------------------*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*------title and nav bar styles----------------------*/
.navbar {
    padding: 0;
    margin-left: 0!important;
    border: 0;
    /*background-color: #faba03!important;*/
}
.bg-navbar {
   background-color: #faba03!important; 
   color: black!important;
}
.navbar-brand {
    padding-left: 2rem;
}

.navbar-item {
    margin-right: 15px;      
}
.navbar-item a {
    font-size: 20px;  
}
.active {
    background-color: black;
    color: #fdf9fd!important;
}
.nav-link:hover {
    background-color: black;
    color: #fff!important;
}

@media (min-width: 280px) and (max-width: 415px) {
    .navbar-brand {
        padding-left: 0.5rem;
    }
    .brandname {
        font-size: 18px;
    }
    .brandtext {
        font-size: 16px;   
    }
    .navright {
        margin-left: 0.5rem;
    }
    .navbar-item {
        margin: 1px;
    }
    .navbar-item a {
        font-size: 14px;
         margin: 1px 0;
}
    .toggler-nav {
        width: 60px;
        height: auto;
    }
    .nav-item {
        font-size: 14px;
    }
    .jumbotron-btn {
        font-size: 14px!important;
        font-weight: 300;
    }
    .btn {
        padding: 0;
    }
}

@media (min-width: 1024px) {
.navright {
    margin-left: -1rem;
}  
}
@media (min-width: 768px) {
.toggler-nav{
    padding-left: 3rem;
}  
.toggler-btn {
        margin-left: 3rem;
    }
}
@media (min-width: 280px) {
    .toggler-nav {
    margin-left: -1rem;
}
.toggler-btn {
        margin-left: -0.5rem;
    }
}
@media (min-width: 320px) {
    .toggler-nav {
    margin-left: 0;
}
.toggler-btn {
        margin-left: 0;
    }
}
@media (min-width: 360px){
    .toggler-nav {
    margin-left: 1rem;
}
.toggler-btn {
        margin-left: 1rem;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .toggler-nav {
    margin-left: 2rem;
}
.toggler-btn {
        margin-left: 2rem;
    }
}
@media (min-width: 411px) and (max-width: 414px) {
    .toggler-nav {
    margin-left: rem;
}
.toggler-btn {
        margin-left: 3rem;
    }
     .brandname {
        font-size: 20px;
    }
    .brandtext {
        font-size: 18px;   
    }
}


/*-------------Call out styles--------------------------*/
.jumbotron-header {
    margin-top: 50px;
    font-size: 24px;
    
}
.jumbotron-btn {
   font-weight: 500;
   font-size: 22px;
}

.callout-container {
    background-image: url(../images/hero-image2.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 0   
}
.jumbotron {
    background: transparent;
    padding: 0;
    color: white;
    
}
.jumbotron-btn:hover {
    transform: scale(1.25); /* reference w3schools*/

}
@media (min-width: 768px) {
    .jumbotron-header {
        font-size: 36px;
    }
}

/*-------------WHY_BVI styles--------------------------*/
.features-container {
    background-color: #333541;
}
.features-header {
    text-transform: uppercase;
    padding-top: 10px;
    color: #fdf9fd;
}
.features-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fdf9fd;
    text-transform: uppercase;
    padding-top: 10px;  
}
.row-features {
    margin: 1rem;
}
.features-column {
    padding: 1rem;
}
.feature-header {
    font-size: 18px;
    font-weight: 500;
    
}
.feature-text {
    font-size: 16px;
    text-align: center;
    color: #212529;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 0 10px 0;
    background: #faba03;
    color: #212529;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    height: 100%;
}
.feature:hover {
    transform: scale(1.15); /* (code reference from CSS)*/
    box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
.cta-about{
    text-align: center;
}
.btn-about {
    margin-bottom: 2rem;
    background: #faba03;
}
.btn-about a {
    text-decoration: none;
    color: #212529;
    font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .row-features {
        margin: 0.25rem;
    }
    .features-column {
    padding: 0.25rem;
}
}
@media (min-width: 768px) {
    .feature-text {
        font-size: 20px;
    }
    .cta-about a {
        font-size: 18px;
    }
}
@media (max-width: 280px) {
    .row-features {
        margin: 0.25rem;
        padding: 0;
}
.features-column {
    margin: 0.25rem;
    padding: 0;
}
}

/*-------------Our Process styles-------------------*/
.process-container {
    background-color: #e9ecef;
}
.process-header {
    text-align: center;
    padding: 2rem;
}
.process {
    padding: 0 3rem;
    
}
.process-steps {
    text-align: left;
    padding: 2rem;
    color: #212529;
}

/* code credit for image Slider from Hyde-Design */
.slide-images {
    width:500px;
    height:400px; 
    overflow:hidden;
    position:relative;
}
.slide-images img{ 
    position:absolute; 
    animation:slide-images 20s infinite; 
    opacity:0; 
    width: 450px; 
    height: 350px;
    text-align: center;
    padding-left: 1rem;
}

@keyframes slide-images {25%{opacity:1;} 40%{opacity:0;}}
.slide-images img:nth-child(1){animation-delay:0s;}
.slide-images img:nth-child(2){animation-delay:5s;}
.slide-images img:nth-child(3){animation-delay:10s;}
.slide-images img:nth-child(4){animation-delay:15s;}

@media (min-width: 280px) and (max-width: 415px) {
    .slide-images {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    
     }
.slide-images img{ 
    width: 250px;
    height: 250px;
}
}



/*-------------Testimonials--------------------------*/
.testimonials {
    background-color: #faba03;
}
.testimonials-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;   
}
.testimonials-header h2 { 
    text-transform: uppercase;
    color: #424355; 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.testimony {
    text-align: center;
}
.testimony img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 0 10px;
    margin-left: 3.5rem;
}
.testimonies{
    padding: 2rem;      
}
.user-details {
    font-weight: 500;
}


/*-------------Footer styles--------------------------*/

.footer-details {
    background-color: #343a40;
    color: white;   
}
.col-footer {
    margin-top: 1rem;
}
.footer-ul {
    list-style-type: none;
}
.social-links i {
    color: #faba03;
    font-size: 20px;
    margin-right: 0.5rem;
}
.social-links i:hover {
    transform: scale(1.15); 
    box-shadow: 0 0 0 4px rgb(234 165 11 / 83%); /*(code reference W3schools)*/

}

/*--------media query for Footer----------------*/
@media (min-width: 320px) and (max-width: 350px) {
    .footer-details {
        margin-top: 20px;
    }
}

/*--------Order Now Modal styles--------------------------*/
.modal-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.modal-text1 {
    font-size: 16px;
    font-style: italic;
    margin-left: 2rem;
}
.modal-text2 {
    font-size: 18px;
    margin-left: 2rem;
    
}
.modal-text2 emphasis {
    background-color: black;
    color: #fff;
    
}
.modal-label {
    margin-left: 1rem;  
}
.modal-input {
    margin-bottom: 1rem;  
}
.claim-button {
    text-align: center;
    margin-left: 2rem;
    text-transform: uppercase;
}

/*------------------about.html----------------------*/
/*------------ about us background-----------------*/
.about-container {
    background-image: url(../images/about-us.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;
    border: 0;  
}

.about-us {
    background: rgb(30 0 10 / 50%);
    color: #e9ecef;
    font-size: 24px;
    padding-top: 2rem;
}
.about-text {
    padding: 1rem;
    color: #e9ecef;
    text-align: left;
    font-size: 20px;   
}

/*-------------------Contact styles----------------*/
.contact-container {
    background-color: rgb(30 0 10 / 66%);
    color: #fff;
    font-size: 18px;
    /*background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;
    border: 0;*/
}
.contact-header {
    padding: 2rem;
}
.details-form {
    padding-bottom: 3rem;
}
.contact-details {
    
    /*background-color: rgb(30 0 10 / 77%);*/
    text-align: center;
    color: #e9ecef;
    
}
.contact-details p {
    font-size: 18px;
  
}
.contact-info a {
    color: #e9ecef;  
}

.opening-hours {
    margin-left: 1rem;
   
}
.opening-hours p {
    font-size: 18px;
    font-style: Bold;
    
}
.contact-form {
    color: #fff;
    /*background-color: rgb(30 0 10 / 50%);*/
    padding: 1rem;
    text-align: center;  
}
.contact-form h3 {
    padding: 1rem;  
}
.contact-input {
    text-align: center;
    font-size: 16px;
    font-style: Bold;
    width: 250px;
    margin-bottom: 1rem;
    background-color: #f6f1ea;
    color: #343a40;
    
}
.contact-textarea {
    text-align: center;
    font-size: 14px;
    font-style: Bold;
    width: 250px;
    height:100px;
    padding: 1rem;
    background-color: #f6f1ea;
    color: #343a40;
}
.contact-button {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 2rem;
    background-color: #f6f1ea;
    color: #343a40;
    transition: transform .2s;
}
.contact-button:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgb(234 165 11 / 83%);
}
input[type="text"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
input[type="email"]:hover {
  outline: none;
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);
}
textarea:hover {
  box-shadow: 0 0 0 4px rgb(234 165 11 / 83%);;
}
/*-------media queries for about------*/


/*-----------------menu.html-----------------*/
.menu-header h2 {
    padding: 2rem;
}
.menu-items h3 {
    padding: 2rem;
}
.menu-images img {
    padding: 2rem;
}
,menu-images rice


